{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign In and Sign Up Form</title>
        <link rel="stylesheet" href="{% static 'finance/Css/charitech.css' %}">
        <script src="https://kit.fontawesome.com/917a7c0f3e.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="form-box">
               <h1 id="title">Sign In</h1>
                <form id="authForm" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="input-field">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" placeholder="Username" name="username" id="usernameField" required>
                        </div>
                
                        <div class="input-field">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" placeholder="Password" name="password" id="passwordField" required>
                        </div>
                
                        <div class="btn-field">
                            <button type="submit" id="signinBtn">Log in</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </body>
</html>
